dist: trusty
sudo: false
language: java
jdk:
- oraclejdk8
branches:
  except:
  - "/\\+travis\\d+$/"
env:
  global:
  - secure: izrFy5oAytrnM3SFqFvxcdqwIOIVSMLKF4yv9WwYU7vPhFckChQIMI2QT6ciQ4vtE7qBWu9MpAmlHpNcPCzdqSH0FT+eOwWkTsjkCEj40ywzyDIgxwL3sKwa6/lM03HKQpX+0yGAzmFK0mS8Fkoi4RhHXFH8eNcElnEWF0TyRnsOwtZ6wCg30QTln1VqvGxebfNUFiwSB9Kz1h4FVvgdJGDBpSPPAp8qv860PTAFNcYGI1y6C6jB/s1qWgG6vAX0sQuLcugRzmH73Pq+uCgv7jQkD7x/pLy2MxYs1bWQyxSndnHRYQ3I96w4rReVz2vZML9O1h8XyhmRsoYLo5J+NokhT4CgKb23DY1tZIqgJqZJLh8FqdTlKKxnBwxC9DaZN4A5T6Q+kcud17KsbA/JJMkrky3OVwNXZvJwYZJA+y8emzfQ9Id4zuwnO5Cpk7MZnig1lTvR9rftUz3OoAQPece7is10U/A8baVlPzmFkFPtbEGp30q1/UyzoZe9i3r+XS/J6keznGMWyI8IBkEgde9vE6cx0+XKVLF5ik1BXmmd1eC7MtMf5rxKMNE6tk3hxYDZWN902rKVcqbBBY8nXiSqIdZagSWEgyjNGZaJZwpiwF4KhsJyq1rF6CZAoHQ+psuv6Aex4R84rt2PK8H9hPrXKf0u4xCj6SdbJMYzDv4=
  - secure: hZvvXjZt7x/dWZ/utvuwqmvGGncFTmUoav1u25CIXsfcIp3tw68kttjOJr9wOunZU6/CsjSsGVpaQpDUThcfSgo4fO+VhdDYAIhneEWzJ/acLRvOLMmCpQrAfR2510IlZyqEaTqEVv+3++xuxW4LnrPvI0xYal47mAVPe4ChFBIUZ0bjlPmWcpgkIkVVrW6i2Krax1wMGnupwLDZ6DALaKm8Y/1lNt+jKbhrScmU6KQAzESVWzPfRCG8xAicHES5WaR4hes6xMFAqTjnpd72J03c1v3JsTHMlbFzHjl5JEcsLpNANtMqBNnZ+/0B85XfYObSrw4QSeszBmcciyxhZ/3wMZOp+pZYaj/B2TDjfInPwCiAHXjTQZEA7McShBjlhwKOfbaCxoiKl75VenYqsWexn3J+YztqmUfSeXKLfNamELPZksiKUHX9NuAP6LT/fXGs539dK6PN/zIp+r7IJScPiJR6Z0Lsfr1+QvT7HOS+6rXksnTDh6uuYx3hWI9PWlAGwDhyseKIoQEn7GtuP92l+98CXR+rwDNaDZXs4LS3Zmny+MbxjBw+qP8vvAu4D/y5lGt60ZMRGcLAYoWmYyplmGdA+cCpGVwVeeW/O7MrjPA7AlQ+rInbH0bcGyz0FgobiV8ZaOKiHNiWo37UHgNyGy6T/YD8VhBebOlfEKc=
  - secure: oTk8rNWI7xCB0tzVkL0WnFYsEBMRKaGqu8NMogoh+g09wpbECNwVAldNxrr3ApWx2BLsYS8hYoOyV9vBm+hsSYGM2xsI5LE7c9Z2NfI1RsJUBooMnNo+TlbtRibwC7AqcWyPu/Kv1dkiyLjhRJpxq9CybA1PMZhygLst8hfXimM6UMUqgDILLyvA7EsnXMa1UBzsLA5XuI1Rc9/faOdActmjmcCNQmoF5tWs8jAJIecC2PKzPvpvteHrPxqeeIfgVjXLxvy8QsIuSNhFGj+mnY3liRZHyXDE50HkEIO3qhx0AXCulv3ljyt8r87mvpAKLP+EfnPQaQNFIRfJDL7Q2k29h0s5TLeC7DmUTq1TcpeJG6Q0w73nwf5Jqbnye/jk2DC0MbIKQ+3Nmt9l1JpLKPpxnnfN8gdN7Hx1t7i3g4pGsAxUu6brMEtiUZa/NmhgcRCWdQGhBET37bi6hEFYzqRX8sP0c50XZ3ZYp3LnFM2GlHLaV8XbKwGNEIY9ZQjn8JbCt23L7Q5QHRqmSzWJv6mtBblFdBboj2LlOCRTvz/es5Y8srMpFkKZ6iR9QzZiqoiPpOGC/V0Lt/BJMhLAqJvimLmixPv+zBtgNVQ14jr6QUvsXY3rvJR2VMYxxrZrOzwICyIeRNTbATZQgKgTEBzqGtqhXN37dmihT18XJMM=
  - secure: lTr0f+6B9yu5O0O7Di4lSHmMcVgVJM6nsRJ2axKkW307VpPiesFZbqEUczQ5Oz9NMorKSZ/NW9+ZBmBGn0fGvCJDC3yJZPO0LhDJsE85XpQ7b/ADNM15QsoGKCQtFa9VYHnblNRfXZuhvvqFeaUdwuSOlK2BEi3m3J+ywQFvJ99SopnQRet17xXDlQC03yKeLHf9G/+OXDyfdM5tkvQ58Mp5N+GlwDGUc1uLCgBAkDJ4A6HAkDTCoz0jWs7T1Wfj07h7tvEL/anc9qoy09IbgPJekWC1bmOl3g9A4+ut5CddX7x3NGOTZVuYp0YcsiKIqZ3khowkc0D5/Z7B1l8aO3mHPwOBd10jE2ZklmN2Ooegun3vJhF3vofbG8PsL0HRW2fXzBd9gH0PitGQrYf39Vs++42lf1IExWmVIX3HQEV2M1dyzomYJbbBQ/lYD6W+L2C2sMZONn/HjgYTk1S8Ot0OFeJhpMhBQTPasGNPvVjzBQx+JWYeZGkJ9Wu9BzuP36o465AkTE0u8trA7YdXAanJw1jKmggvHhGJvXAp85dHQNiUYdmqAzUEgpFw0beS/pRgMZdrjtxNPsu7GZpPl3nFQoIU3h0ufOiHQA1sLHBcWBOs3ISyH5WzSvVAGesjh7jwYRCiGLTeLO2+IadiBgbo2CHWKZkxG6SGRHMgn00=
install:
- nvm install 6.9.3
- npm install typescript
script: bash travis-build.bash
notifications:
  email: false
  webhooks:
    on_success: always
    on_failure: always
    on_start: always
    urls:
    - https://webhook.atomist.com/travis
cache:
  directories:
  - "$HOME/.m2"
deploy:
  provider: releases
  api_key:
    secure: RI8/cO/E8ZIaa5J9NViJb6TUu0RkkazSV4uhera7zc4QTsArlyZ1NqZPOtR6qMysWPUO4zSY7tMuaZVfiTCVlv1tJmmDe5rQgsjvanu7A3RahZ4bu41Q6w/QJMrwnNmV/w5ZcFMBU3rfuzhsSNXyMjAiWAL59rfruc5agzcHwTLW9NcP6/6vPh1jTWqROxCepARws2pxQBd9WFPYqh2zrpPBGEqf4kFdqr+KeyutGV3abhc5hViqQU8IVT0IKGWiJdLk6VYe5V9gefclqqS7Jx4HfGuL4Tqb9olLeuYcCdm78EdUiwIAoRW11/Mx9tM8PshFUeGCVqayzskbA4vL07Jov4jlikvXH6EdJbqtB3gmXJajl6nh3qZXD4pYL3uB3yE1o39fYuiUDF/aueTMMIVS8Bfrqxlp1g43aTgFpV4h35ZxJrXBNXlj8fMwCkSHPvDwEWmVbcWzq6qvgzMgFO+/I25E/rtUPwJ0DcvikmRwDhlurRHJVd8DP56D8qd9+iT5aw55497hRAUiJxKByKCnygS94BA6udp4dWwdlKjCzX203/cCOGMC3fWpGBmbJj5j/Qr5SBiJRxHODE7GxxquGn6fD/Q39TUslmav8iy2ZMriS9pDcHZgzT9cx+GEkrN3lIRwDg2xm4Fq5bdL8OdiMRCLds4rIlfnna+apPo=
  on:
    tags: true
    condition: "$TRAVIS_TAG =~ ^[0-9]+\\.[0-9]+\\.[0-9]+$"
after_deploy:
- bash npm-publish.bash $TRAVIS_TAG
